name: Generate README

on:
  push:
    branches:
      - main # or master, depending on your default branch
    paths:
      - 'C:\Users\awebb\Documents\Work\Advanced Computing\BuilderTrack\MnistClassifier\MNistClassifier-PyTorch.ipynb' # Trigger only when the notebook changes

jobs:
  convert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          pip install jupyter nbconvert
      - name: Convert notebook to markdown
        run: |
          jupyter nbconvert --ClearOutputPreprocessor.enabled=True --to markdown "MnistClassifier/MNistClassifier-PyTorch.ipynb" --output "README.md"
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply automatic changes to README.md
          files: README.md
